header ul li {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

header ul li:not(:last-child) {
  margin-right: 8px;
}

header ul li:not(:last-child)::after {
  content: "|";
  padding-left: 8px;
  cursor: default;
  color: darkgray;
}

.point {
  text-decoration: underline wavy tomato 2px;
}

.styling {
  list-style: lower-greek;
}
